.project-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  transform: scale(1);
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

.project-image {
  height: 60%;
  position: relative;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-details {
  padding: 20px;
}

.project-title {
  font-size: 24px;
  margin: 0;
}

.project-description {
  font-size: 16px;
  margin: 0;
}

.project-card:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}
