

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-page {
  display: flex;
  justify-content: center;
}

.home-text-left {
  margin-right: 100px;
  margin-top: 350px;
}

.home-text-right {
  margin-top: 30px;
}

:root{
  --color-accent: #0D2438
}
